# ignoring all __pycache__.
**/__pycache__

# ignoring Jupyter checkpoints.
**/.ipynb_checkpoints

# ignoring HDF5 coefficient files (too heavy!)
**/*.hdf5

# ignoring output files (in some cases, heavy!)
**/output.*.py